/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
}

button:focus {
    color: white;
}

img {
    width: 50px;
}

div>p:first-child {
    display: inline;
}

div img {
    background: rgb(238, 236, 236);
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: rgb(12, 9, 9);
}

.botao-amarelo:hover {
    background-color: #c44f00;
    color: aliceblue;
}

.container {
    height: 500px;
    text-align: center;
}

.icone {
    
    height: 15px;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: rgb(255, 255, 255);
  
}

#container-de-descricao>ol {
    padding: 15px 0px;
}

#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
    
    
    
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {

    width: 45%;
   
}
.tabela-centralizada{
    text-align: center;
   

}

td button {
    background-color: #fadf63;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: rgb(107, 12, 12);
}

.container-do-search {
    margin-top: 20px;
    height: 60px;

}



#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
}

#back-button:hover {
    background-color: #635a3d
}

div > button:hover{
   color: #fe7e02; 

}

.botao-amarelo2 {
    background-color: #ffaf43;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
    color: rgb(10, 10, 10);
}

.botao-amarelo2:hover {
    background-color: #c44f00;
    color: aliceblue;
}

div.tabela-centralizada{
    margin: 1% 0% 5% 32%;
 
    
}